.container {
  background-color: #07080c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  width: 70%;
}
* {
  margin: 0px;
}
.title {
  color: #ffffff;
}
.heading {
  color: #ffffff;
}
.msg {
  color: #ffffff;
}
.buttons-container {
  margin-top: 15px;
}
.button-acc {
  height: 30px;
  width: 100px;
  border: none;
  background-color: #0b69ff;
  border-radius: 5px;
  color: #ffffff;
  margin-right: 10px;
}
.button-app {
  height: 30px;
  width: 100px;
  background-color: transparent;
  border: 2px solid #cbd5e1;
  border-radius: 5px;
  color: #ffffff;
}
